
<h2><%= link_to 'Upload', new_searchapp_path %></h2>


      <form class="well form-search">
	 <%= form_tag searchapps_path, :method => 'get' do %>
  	   <%= text_field_tag :search, params[:search], class: "input-medium search-query" %>
	   <button> <%= button_to 'Search', class: "btn btn-primary", :method => :get  %></button>
	 <% end %>
	<br />
      </form>

	<% if @searchapps.empty? %>
          <span> There were no results for the query </span>
	<% else %>
	<% @searchapps.each do |searchapp| %>
	 <h5><%=  raw(searchapp.excerpts.file_name) %></h5>
       	   <p><%= raw(searchapp.excerpts.content) %></p>
	    <% searchapp.assets.each do |asset| %>
            <p><%= link_to  File.basename(asset.asset_file_name),
 asset.asset.url , :target => '_blank' %>
        <small> <%= number_to_human_size(asset.asset.size) %></small></p>
       <li>
 	<%#= raw(asset.content) %>
 	<%= truncate(strip_tags(asset.content), length: 300)  %>
     </li>
    <hr class="label-underline"></hr>
     <% end %>
  <% end %>
<% end %>

<br />
<br />
<br />
<br />
<%#= will_paginate(@searchapps)%>

